@import "../styles/headerFooter.css";
@import "../styles/styleMedia.css";

body {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #fff;
  color: rgb(61, 55, 55);
  margin: 0;
}

.container {
  display: grid;
  min-height: 560px;
  font-size: 150%;
}

.content {
  border-left: 5px solid rgb(231, 217, 90);
}

.postDescription {
  margin: 30px auto;
  font-size: 16px;
}

.postTitle {
  color: cornflowerblue;
  margin-bottom: 10px;
}

.horizontalLine {
  height: 10px;
  margin-bottom: 30px;
  border-bottom: 5px solid rgb(231, 217, 90);
}

.postImage {
  max-width: 400px;
  max-height: 350px;
}

@media screen and (max-width: 768px) {
  .postImage {
    max-width: 100%;
    max-height: 100%;
  }

  h3 {
    font-size: 24px;
  }
  .sidebar {
    display: none;
  }

  .blogLogo {
    width: 80px;
  }

  .blogHeader {
    font-size: 16px;
  }

  .content {
    margin: 15px;
    border-left: none;
  }
}
